/* ============================== header ========================================== */
header {
    background: url('../../images/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.content p {
    color: whitesmoke;
    font-size: 25px !important;
}

/* ============================== detail ========================================== */
.detail-product {
    margin: 0 auto;
}

.product-image {
    width: 100%;
    height: auto;
    flex: 1;
}

.product-image #main-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: opacity 0.4s ease;
}

.product-image .img-item {
    width: 24%;
    cursor: pointer;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-more .img-item:hover {
  transform: scale(1.05);
  border: 2px solid #007bff;
}

.img-item.active {
  border: 2px solid #007bff;
}

.product-description {
    flex: 0.5;
    margin-left: 30px !important;
}

.product-description .action .size-selector {
    display: flex;
    gap: 10px;
}

.size-selector input[type="radio"] {
    display: none;
}

.size-selector label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #333;
}

.size-selector label:hover {
    border-color: #000;
}

.size-selector input[type="radio"]:checked+label {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}